@font-face {
  font-family: alef;
  src: url('./fonts/Alef-Regular.ttf');
}
@font-face {
  font-family: nanum;
  src: url('./fonts/NanumSquare.ttf');
}

* {
  box-sizing: border-box;
  font-family: 'alef';
}

input {
  box-sizing: border-box;
}

body {
  background-color: rgba(204, 205, 220, 1);
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 14px;
  color: white;
}

button {
  background-color: white;
  color: black;
}

a {
  text-decoration: none;
  color: inherit;
}

form {
  width: 100%;
}
ul {
  list-style: none;
}

.nweet-input::placeholder {
  color: white;
  opacity: 0.9;
}
.null {
  width: 100%;
  padding-top: 200px;
}
.mainframe {
  width: 100%;
  background-color: #f5f6fa;
  height: 700px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 15px;

  box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
}
.container {
  width: 100%;
  max-width: 320px;
  display: flex;
  flex-direction: column;
  color: black;
  font-size: 18px;
}

.formInput {
  width: 100%;
  padding: 10px 20px;
  border-radius: 20px;
  border: 1px solid black;
  text-align: center;
  background-color: white;
  color: black;
  box-sizing: border-box;
}

.formBtn {
  cursor: pointer;
  width: 100%;
  padding: 7px 20px;
  text-align: center;
  color: white;
  border-radius: 20px;
  background-color: #04aaff;
  cursor: pointer;
  box-sizing: border-box;
}

.cancelBtn {
  cursor: pointer;
  background-color: tomato;
}
.backBtn {
  cursor: pointer;
  background-color: #04aaff;
  margin-top: 10px;
}
/* Profile Page */

.profileForm {
  border-bottom: 1px solid rgba(255, 255, 255, 0.9);
  padding-bottom: 30px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logOut {
  margin-top: 50px;
  margin-bottom: 10px;
}

.resetpw {
  padding: 0px;
  font-size: 12px;
  width: 320px;
  text-align: right;
  color: royalblue;
}
.resetpw_text {
  cursor: pointer;
  font-size: 16px;
}
.resetpw_text:hover {
  color: #04aaff;
}

/* Auth */
.backmain {
  display: flex;
  width: 1130px;
  height: 724px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.authContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.authleft {
  background-color: #ffffff;
  width: 470px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px 0px 0px 10px;
  box-shadow: -1px 1px 10px 1px gray;
}
.authrigth {
  background: url(./img/login.png);
  display: flex;
  width: 660px;
  height: 100%;
  border-radius: 0px 10px 10px 0px;
  box-shadow: 1px 1px 10px 1px gray;
}
.authtext {
  margin-top: 5px;
}
.authBtns {
  display: flex;
  justify-content: center;
  width: 100%;
  max-width: 320px;
  flex-direction: column;
}
.authBtn2 {
  display: inline-block;
  cursor: pointer;
  border: none;
  padding: 10px 0px;
  font-size: 14px;
  color: royalblue;
}
.authBtn2:hover {
  color: #04aaff;
}

.authBtn {
  cursor: pointer;
  border-radius: 10px;
  border: none;
  padding: 10px 0px;
  margin-bottom: 50px;
  font-size: 12px;
  text-align: center;
  background: url(./img/google.png);
  background-repeat: no-repeat;
  background-position: center;
  height: 33px;
}
.inlinetext {
  display: inline-block;
  padding: 10px 0px;
  margin-right: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #222222;
}
.signin {
  display: flex;
  justify-items: center;
  justify-content: center;
}
.righttext {
  color: #222222;
}

/* AuthForm */

.authInput {
  max-width: 320px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border-color: rgba(2, 2, 2, 0.2);
  background-color: rgba(2, 2, 2, 0.01);

  margin-bottom: 10px;
  font-size: 12px;
  color: black;
}

.authSubmit {
  text-align: center;
  background: royalblue;
  color: white;
  margin-top: 15px;
  cursor: pointer;
  font-size: 16px;
}

.authError {
  color: tomato;
  text-align: center;
  font-weight: 500;
  font-size: 12px;
}

.authSwitch {
  color: #04aaff;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 50px;
  display: block;
  font-size: 12px;
  text-decoration: underline;
}

/* Signin */
.backmain_si {
  background-image: url(./img/back.png);
  display: flex;
  width: 1130px;
  height: 724px;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
  border-radius: 10px 10px 10px 10px;
}
.signinContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.signinleft {
  width: 570px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signinright {
  width: 570px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.signintext {
  display: flex;
  font-size: 30px;
  font-weight: bold;
  margin-right: 370px;
}
.returnlogin {
  cursor: pointer;
  border: 0.5px solid#ffffff;
  width: 200px;
  height: 50px;
  background-color: #4164e3;
  color: #ffffff;
  font-size: 20px;
  margin-top: 100px;
  margin-right: 60px;
  margin-bottom: 200px;
  border-radius: 5px;
}
.returnlogin:hover {
  background-color: #ffffff;
  color: #4164e3;
  font-weight: bold;
}

/* nav */
.navbar {
  margin-top: 50px;
}

.rone {
  flex: 1;
  width: 25%;
  height: 120px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #f493a1;
  box-shadow: 2px 5px 15px 8px rgba(0, 0, 0, 0.1);
}
.rtwo {
  flex: 1;
  margin: 0px 5%;
  width: 25%;
  height: 120px;
  box-sizing: border-box;
  background-color: #40489c;
  border-radius: 15px;
  box-shadow: 2px 5px 15px 8px rgba(0, 0, 0, 0.1);
}
.rthree {
  flex: 1;
  width: 19%;
  height: 120px;
  box-sizing: border-box;
  border-radius: 15px;
  background-color: #feb262;
  box-shadow: 2px 5px 15px 5px rgba(0, 0, 0, 0.1);
}
.parent {
  width: 100%;
  margin: 10px auto;
  margin-top: 0px;
  display: flex;
}
.one {
  flex: 0 1 60%;
  margin: 0px;
  margin-right: 30px;
  width: 29%;
  height: 160px;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 2px 5px 15px 5px rgba(0, 0, 0, 0.1);
}
.two {
  flex: 1;
  width: 10%;
  height: 160px;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 2px 5px 15px 5px rgba(0, 0, 0, 0.1);
}
.tone {
  flex: 1;
  margin: 0px;
  width: 29%;
  height: 230px;
  box-sizing: border-box;
  border-radius: 15px;
  box-shadow: 2px 5px 15px 5px rgba(0, 0, 0, 0.1);
}

.parent_main {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  display: flex;
}
.part1 {
  display: flex;
  flex-direction: row;
  background-color: #ffffff;
  border-radius: 15px 0px 0px 15px;
  flex: 0 1 20%;
  margin: 0px;
  margin-right: 30px;
  height: 100%;
  box-sizing: border-box;
}
.part2 {
  display: flex;
  flex-direction: column;
  flex: 0 1 60%;
  margin: 0px;
  margin-right: 30px;
  height: 100%;
  box-sizing: border-box;
}

.part3 {
  display: flex;
  flex-direction: column;
  flex: 0 1 22%;
  margin: 0px;
  height: 100%;
  box-sizing: border-box;
}
.part3_top {
  margin-top: 20px;
  height: 70px;
  display: flex;
  justify-content: right;
  align-items: center;
}
.part3_icon {
  margin: 10px;
}
.part3_parent {
  width: 90%;
  margin: 10px auto;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}
.part3_type {
  color: #222222;
  font-size: 20px;
  font-weight: bold;
}
.menu {
  padding: 0;
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}
.menu_null {
  margin-top: 40px;
}
.menuset {
  display: flex;
  height: 60px;
  justify-content: left;
  align-items: center;
  font-size: 25px;
  font-weight: bold;
  color: black;
  margin-bottom: 20px;
}
.margin_null {
  margin: 0;
}
.popstock {
  padding-left: 20px;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  color: #222222;
}
.pop_list {
  margin-top: 5px;
}
.pop_stockname {
  font-family: 'nanum';
  display: block;
  font-size: 20px;
  font-weight: bold;
  margin: 10px;
}
.blue {
  color: #4164e3;
}
.red {
  color: crimson;
}
/* forget pw */

.backdrop {
  background: url(./img/forget.PNG);
  background-size: 1800px 1040px;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(10px);
}
.inline {
  display: inline;
}
.pwcontainer {
  max-width: 499px;
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
  justify-content: center;
  color: black;
  font-size: 18px;
}
.flex {
  display: flex;
  justify-content: center;
}
.pwcontainer1 {
  background-color: #ffffff;
  width: 500px;
  height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 10px;
  box-shadow: 2px 7px 15px 8px rgba(0, 0, 0, 0.3);
}
.pwyes {
  text-align: center;
  background: royalblue;
  color: white;
  margin-top: 15px;
  cursor: pointer;
  font-size: 16px;
  width: 100px;
  height: 40px;
  border: 1px solid rgba(2, 2, 2, 0.2);
  border-radius: 10px;
  margin-right: 50px;
}
.pwno {
  text-align: center;
  background: #ffffff;
  color: black;
  margin-top: 15px;
  cursor: pointer;
  font-size: 16px;
  width: 100px;
  height: 40px;
  border: 1px solid rgba(2, 2, 2, 0.2);
  border-radius: 10px;
  margin-left: 50px;
}
.pwInput {
  max-width: 250px;
  width: 100%;
  padding: 10px;
  border-radius: 10px;
  border-color: rgba(2, 2, 2, 0.2);

  background-color: rgba(2, 2, 2, 0.01);

  margin-bottom: 10px;
  font-size: 12px;
  color: black;
}
.pwtop {
  display: flex;
  color: black;
  justify-content: center;
  padding-bottom: 30px;
}
.nomargin {
  margin: 0;
}
.fonts30 {
  font-size: 30px;
  font-weight: bold;
}

/*survey*/
